<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Error"
      internalLogFile="./nlog-internal.log">
      <!--throwExceptions="true"-->
      <!--internalLogLevel="Debug" internalLogFile="c:\temp\nlog-internal.log">-->


  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Targets.ElasticSearch"/>
  </extensions>
  
  
  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->
    <target name="fileTarget" xsi:type="File" filename="..\logs\log.txt"></target>

    <!-- !!!!!!!!!!!  The default db provider will be SQL server if you are using any other database you will need to set the dbProvider.-->
    <target name="DbLog" xsi:type="Database" 
            connectionString="${configsetting:item=ConnectionStrings.DefaultConnection}"
            commandText="insert into [MainLogTable] (LogDate, LogLevel,LogLogger,LogMessage,LogException,LogStacktrace, Parameters)
            values (@time_stamp,@level,@logger,@message,@log_exception,@stacktrace, @parameters)">
      <parameter name="@time_stamp" layout="${longdate}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@log_exception" layout="${exception}" />
      <parameter name="@stacktrace" layout="${stacktrace}" />
      <parameter name="@parameters" layout="${event-properties:item=@:format=@json}" />
    </target>

    <target name="PlanitPokerHubDb" xsi:type="Database"
            connectionString="${configsetting:item=ConnectionStrings.DefaultConnection}"
            commandText="insert into [MainLogTable] (LogDate, LogLevel,LogLogger,LogMessage,LogException,LogStacktrace, Action, ConnectionId, GroupName, UserId)
            values (@time_stamp,@level,@logger,@message,@log_exception,@stacktrace, @action, @connection_id, @group_name, @user_id)">
      <parameter name="@time_stamp" layout="${longdate}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@log_exception" layout="${exception}" />
      <parameter name="@stacktrace" layout="${stacktrace}" />
      <!--<parameter name="@OrderId" layout="${event-properties:MyOrderId}" dbType="DbType.Int32"/>-->
      <parameter name="@action" layout="${mdlc:action}"/>
      <parameter name="@connection_id" layout="${mdlc:connection_id}"/>
      <parameter name="@group_name" layout="${mdlc:group_name}"/>
      <parameter name="@user_id" layout="${mdlc:user_id}"/>
      <parameter name="@parameters" layout="${event-properties:item=@}" />

    </target>


    
    <target name="elastic" xsi:type="BufferingWrapper" flushTimeout="5000">
      <!--https://github.com/markmcdowell/NLog.Targets.ElasticSearch/wiki-->
      <!--<target name="ElasticSearch" xsi:type="ElasticSearch" index="menu-${date:format=yyyy.MM.dd}"
                  uri="${configsetting:item=Logging.ElasticSearchUrl}"
                  layout ="API:menu|${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" >
      </target>-->
    
      <target name="ElasticSearch" xsi:type="ElasticSearch"
              includeAllProperties="true"
              index="menu-${date:format=yyyy.MM.dd}"
              uri="${configsetting:item=AppLogging.ElasticSearchUrl}:${configsetting:item=AppLogging.ElasticSearchPort}" 
              username="${configsetting:item=AppLogging.ElasticSearchLogin}"
              password="${configsetting:item=AppLogging.ElasticSearchPassword}"
              >
        <field name="logger" layout="${logger}" />
        <field name="event_properties" layout="${event-properties:item=@}" />
    
      </target>
    </target>
    
    <target name="elasticPoker" xsi:type="BufferingWrapper" flushTimeout="5000">
      <target name="ElasticSearchP" xsi:type="ElasticSearch"
              includeAllProperties="true" index="menu-${date:format=yyyy.MM.dd}"
              uri="${configsetting:item=AppLogging.ElasticSearchUrl}:${configsetting:item=AppLogging.ElasticSearchPort}"
              username="${configsetting:item=AppLogging.ElasticSearchLogin}"
              password="${configsetting:item=AppLogging.ElasticSearchPassword}"
              >
        <field name="logger" layout="${logger}" />
        <field name="action" layout="${mdlc:action}" />
        <field name="connection_id" layout="${mdlc:connection_id}" />
        <field name="group_name" layout="${mdlc:group_name}" />
        <field name="user_id" layout="${mdlc:user_id}" />
        <field name="event_properties" layout="${event-properties:item=@}" />
    
      </target>
    </target>
    
    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <!--<logger name="*" minlevel="Error" writeTo="fileTarget" />-->
    <!--<logger name="*" minlevel="Error" appendTo="DbLog"/>-->
    <logger name="PlanitPoker" minlevel="${configsetting:item=AppLogging.Minlevel}" appendTo="PlanitPokerHubDb,elasticPoker" final="true"/>
    <logger name="MenuApp" minlevel="${configsetting:item=AppLogging.Minlevel}" appendTo="DbLog,elastic"/>
    <logger name="*" minlevel="Error" appendTo="DbLog,elastic"/>
    <!--<logger name="*" minlevel="Warn" writeTo="target1,target2,target3" />-->

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->

    <!--!!!!!!!!!! https://habr.com/ru/post/450728/-->
  </rules>
</nlog>
